  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  .nav a {
    padding: .5em .8em;
    position: relative;
    text-decoration: none;

  }
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: translate(100%, -50%)
  }

  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: black;
  }

.nav-link1{
    margin-right: 190px;
    text-decoration: none;
}
.nav-link2{
    margin-right: 100px;
    text-decoration: none;
}
.nav-link3{
    margin-left: 100px;
    text-decoration: none;
}
.nav-link4{
    margin-left: 190px;
    text-decoration: none;
}
