$azul-oscuro:#091d36;
$azul-profundo: #3a4e7a;
$azul-intermedio: #5e83ba;
$azul-claro:#c2d2e9;
$semi-blanco: #f1f1f0;

.pie-pagina{
    width: 100%;
    background-color: $azul-intermedio;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h1{
    font-size: 50px;
    font-family: 'Chau Philomene One', sans-serif;
    color: white;
    padding-top: 10%;
}
.pie-pagina .grupo-1 .box h3{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: $azul-claro;
    text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}
.pie-pagina .grupo-2{
    background-color: $azul-intermedio;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}