$azul-oscuro:#091d36;
$azul-profundo: #3a4e7a;
$azul-intermedio: #5e83ba;
$azul-claro:#c2d2e9;
$semi-blanco: #f1f1f0;


.new-navbar{
    background-color: $azul-intermedio;
    img{
        width: 80%;
        height: 80%;
        margin-right: 5%;
    }
}

.navbar-brand{
    width: min-content;
    margin-right: 6%;
}



.my-sign-in{
    background-color: $semi-blanco;
    font-size: small;
    margin-left: -100px;
    width: fit-content;
    color: $azul-oscuro;
    img{
        width: 95%;
        height: 95%;
        border-radius: 50%;
        margin-left: 10px;
    }
    .btn-danger{
        font-size: smaller;
    }
    .my-profile{
        text-decoration: none;
        color: $azul-oscuro;
        transition: 1s;
    }
    .my-profile:hover{
        text-decoration: none;
        color: $azul-intermedio;
    }

}


